*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}
html{
    background-color: #181818;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
::selection{
    background-color: #ff0029;
    color: #fff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.hero{
    height: 100vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      /* bottom, image */
      url(img/background-principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
h1{
    color: #ff0029;
    font-size: 2.4rem;
    margin: 22px 0;
}
h3{
    color: #fff;
    font-size: 1.7rem;
    text-transform: capitalize;
}
.menu{
    position: absolute;
    top: 0;
    width: 90%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo img:hover{
    transform: rotateZ(12deg);
}
.logo img{
    width: 90px;
    height: 100%;
    /*margin-left: 15px;*/
}
.menu-links ul{
    height: 65%;
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu-links ul li{
    display: flex;
    justify-content: space-between;
}
.menu-links ul li a{
    font-size: 1.6rem;
    text-decoration: none;
    color: #ff0029;
    border: 2px solid #ff0029;
    padding: 8px 8px;
    border-radius: 4px 8px;
}
.menu-links ul li:hover a{
    background-color: #ff0029;
    color: #fff;
    border: 2px solid #fff;
    transition: 1s ease;
}
.text-section{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.product-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/background-product.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.us-product{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    flex-grow: 1;
    justify-content: center; 
}
.product{
    flex-basis: 23%;
    position: relative;
    margin: 45px;
    height: 220px;
    border-radius: 8px;
    /*background: #00000022;*/
}

.product img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.product h4{
    color: transparent;
    font-size: 1.6rem;
    position: absolute;
    top: 20%;
    transition: 1.2s;
}
.product p{
    color: transparent;
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    margin: 0 15%;
    transition: 0.8s;
}
.product:hover{
    box-shadow: 0 0 8px #181818;
}
.product:hover h4{
    color: #ff0029;
    padding: 0 20%;
}
.product:hover p{
    color: #3de7f2;
    bottom: 20%;
}